<section fxLayout fxLayoutAlign="center" fxLayoutGap="10px">
  <mat-card fxFlex.xs="100%" fxFlex="400px">
    <mat-card-title fxLayoutAlign="center">Things</mat-card-title>
    <mat-card-subtitle fxLayoutAlign="center">Let you sleep well knowing your things are healthy and happy.</mat-card-subtitle>
    <mat-card-content fxLayoutAlign="center">
      This app helps you to keep all your thing healthy by remind you to support them in time with right approach.
    </mat-card-content>
  </mat-card>  
</section>
